params {
    genome = 'mm10'
    input = "assets/samplesheet_full_mm10.csv"
    sicer {
        species = "mm10" // supported species https://github.com/zanglab/SICER2/blob/master/sicer/lib/GenomeData.py
    }
    run { // some steps can be turned on/off for debugging purposes
        qc = true
        deeptools = false
        normalize_input = false
        call_peaks = false
    }
}
